.card:nth-child(even) {
    display: flex;
    width: 800px;
    font-family: 'Poppins', sans-serif;
    border-radius: 2em;
    margin-bottom: 2em;
    background-color: white;
}

.card:nth-child(odd) {
    display: flex;
    flex-direction: row-reverse;
    width: 800px;
    font-family: 'Poppins', sans-serif;
    border-radius: 2em;
    margin-bottom: 2em;
    background-color: white;
}

.card:last-child {
    margin-bottom: 4em;
}

.card img {
    width: 45%;
    border-radius: 1em 0 0 1em;
}

.card:nth-child(odd) img {
    border-radius: 0 1em 1em 0;
}

.card_content {
    width: 65%;
    padding: 1em;
    border: 1px solid gray;
    border-radius: 0 1em 1em 0;
}
.card:nth-child(odd) .card_content {
    border-radius: 1em 0 0 1em;
}

.card_content p {
    margin: 0.3em 0;
}

.card_content button {
    background-color: #111344;
    padding: 0.7em;
    margin-top: 0.5em;
    font-size: 1em;
    border: 2px solid #111344;
    border-radius: 6px;
    font-weight: 600;
    transition: all 0.3s ease;
    color:white;
}

.card_content button:hover {
    background-color: #DAE0F2; 
    border: 2px solid #DAE0F2; 
    color:#222;
    cursor: pointer;
    transform: scale(1.1);
}

.card_atribbutes {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.card_element {
    background-color: #F9CFF2;
    padding: 0.3em;
    border-radius: 2em;
}

.card_buttons {
    display: flex;
    gap: 1em;
}

.categoryandauthor {
    display: flex;
    gap: 1em;
}